/* App.css */
body {
  margin: 0;
  padding: 0;
  background-color: #000; /* Fondo negro */
  color: #fff; /* Texto blanco para contraste */
  font-size: 18px; /* Tamaño de fuente más grande */
}

.container {
  padding: 20px;
}